@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12"><h2>Search laptop in our db</h2></div>
    <div class="col-lg-8">        
        <input type="text" class="form-control" />
    </div>
    <div class="col-lg-2">
        <a class="btn btn-success">Find</a>
    </div>
</div>
<div class="jumbotron" style="margin-top:50px;">
    <h1>PcShopParser</h1>
    <p class="lead">To parse PcShop please click this button </p>
    <p><a href="/Home/Parser" class="btn btn-primary btn-lg">Parse &raquo;</a></p>
</div>
